#t1 h1{
    font-size: 35px;
    color: #4682B4;    
}

#itens a{
    color:white;
    font-size: 20px;
}

#titulo h1{
    font-size: 35px;
    color: #4682B4;
    text-align: center;
}

#inputPais{
    min-width: 300px;
}

#imagem {
    max-width:100%;
	height:auto;
    z-index: -1;
    pointer-events: none;
    display: flex;
    position: absolute;
}

#top {
   float: top;
   width: 100%;
   margin-top: -50px;
}

.textocapa{
    z-index: 2;
    padding:250px 520px;
    font-family: 'Montserrat', sans-serif;
    font-size: 50px;
    text-decoration: none;
    color: black;
    word-spacing: 2px;
    letter-spacing: 1px;
    margin-bottom: 150px;
}

.container h1{
    font-size: 35px;
    color: #4682B4;
    text-align: center;
}

#btn{
    background-color: #4682B4;
    color: white;
    font-size: large;
}

@media (max-width: 992px) {
    .mobileMenu {
      -webkit-transform: translateX(-100%);
      transform: translateX(-100%);
      position: fixed;
      top: 0px;
      bottom: 0;
      margin: auto;
      z-index: 999;
      left: 0;
      -webkit-transition: all ease 0.25s;
      transition: all ease 0.25s;
    }
    .mobileMenu.open {
      -webkit-transform: translateX(0%);
      transform: translateX(0%);
      z-index: 899;
    }
    .mobileMenu .navbar-nav {
      overflow-y: auto;
      z-index: 999;
    }
    .overlay {
      position: fixed;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      margin: auto;
      background-color: rgba(0, 0, 0, 0.5);
      display: none;
      z-index: 900;
    }
    .overlay.open {
      display: block;
      z-index: 1029;
    }
}